.wrapper-game{
  max-width: 100%;
  background: #1e2434;

  &-content{
    width: 100%;
    padding-left: 0.625em;
    padding-right: 0.625em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;

    &-gamers,
    &-road,
    &-infos{
      flex-grow: 1;
      width: 33%;
    }

    &-gamers{
      background: #1e2434;
    }

    &-road{
      position: relative;
      animation: anim 0.5s linear infinite;
      background: url('../../assets/images/spritesheet.png') no-repeat center;
    }

    @keyframes anim {
      
      0%{
        background-position: 0px;
      }

      100%{
        background-position: 0px 0px;
      }
    }

    &-infos{
      &-box{
        padding: 0.625em 0.625em 1.875em;
        margin-top: 25%;
        margin-left: 0.625em;
        
        background: #ee4c2a;
        border-radius: 10px;
        color:#fff;

        &-title{
          text-align: center;
        }

        p{
          text-align: center;
          line-height: 1.1;
          margin-top: 0.625em;
        }
      }
    }
  }

  // &-content{
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   max-width: 1224px;
  //   height: 100vh;
  //   margin: 0 auto;

  //   background: url('../../assets/images/road.gif') no-repeat center;

  //   &-img{
  //     height: 185px;
  //   }
  // }
}